/**************************************
 Javascript Add-ons
**************************************/

#overlay {
  position: fixed; 
  background-color: rgba($black, .90);
  top: 0;
  bottom: 0;
  right: 0; 
  left: 0; 
  display:none;
  text-align:center; 
  
  @include tablet-overlay {
       background-color: rgba($black, .85);
  }
  
  
}


#overlay img {
  margin-top: 70px; 
  height: 80%; 
  width: 80%; 
  
   @include tablet-overlay {
        height: 60%; 
       width: 400px; 
  }
  
  @include desktop {
      height: 60%;                                                                    
      width: 700px; 
      border: solid 70px rgba($black, .25);
      border-top: solid 45px rgba($black, .55) ;
      border-bottom: solid 45px rgba($black, .65) ;
  }
 }

#imgGalleryDiv {
  margin: auto; 
  
  @include desktop {
      max-width: 1000px; 
      margin: auto; 
  }
}

#captionTextDiv {
  width: 80%; 
  background-color: rgba(217, 217, 217, .1); 
  height: 125px; 
  border-radius: 50% 50% 50% 50%;
  text-align: center; 
  margin: 10px auto 0;
  border: solid 1px $black; 
  border-bottom: solid 25px rgba($black, .65); 
  
  @include tablet-overlay {
    height: 100px; 
    margin: 15px auto 0;
      
  }
  
  @include desktop {
      width: 800px; 
      margin: 0px auto 0;
    }
}

#captionText {
  max-width: 80%; 
  margin: 15px auto 0; 
  font-size: $font-size; 
  font-family: $sans-serif;
  font-weight: 400;
  border-radius:  50%; 
  padding-bottom: 30px; 
  padding-top: 10px; 
  text-shadow: 3px 3px $black; 
  text-align: center; 
  color: $white; 
  
 
  
  @include desktop {
      max-width: 600px; 
     
  }
}

#btnNext, #btnPrev {
   cursor: pointer; 
    color: rgba($white, .99); 
    background-color:  rgba($black, .01); 
    border: none; 
    height: 70px;
    width: 70px;
    font-size: 60px; 
    outline: 0;
}

#btnPrev {
  position: relative;
   bottom: 75% ;
  right: 25%;
  
  @include tablet-overlay {
      position: relative;
      bottom: 280px;
      right: 175px;
  }
  
  @include desktop {
      position: relative;
      bottom: 380px ;
      right: 275px;
  }
}

#btnNext {
  position: relative; 
  bottom: 75%;
  left: 25% ;
  
  @include tablet-overlay {
      position: relative; 
      bottom: 275px;
      left: 190px ;
  }
  
  @include desktop {
      position: relative; 
      bottom: 375px;
      left: 290px ;
  }
}

#btnExit {
  position: absolute; 
  left: 88% ; 
  bottom: 88%; 
  border-radius: 50%;
  background-color: $black;
  border: none; 
  color: $white; 
  width: 15px;
  height: 15px; 
  font-size: 9px; 
  cursor:pointer;
  outline: 0; 
  
  @include tablet-overlay {
      position: relative; 
      left: 142px ; 
      bottom: 420px; 
      border-radius: 50%;
      background-color: rgba($black,.1);
      border: none; 
     }
  
  @include desktop {
      left: 280px ; 
      bottom: 600px; 
      background-color: $black;
      }
}

.escTxt {
  top: 0 ;
  left: 2%; 
  color: $white; 
  position: absolute; 
  
  @include tablet-overlay {
      left: 2%; 
  }
  
  
}

