//  Color Variables 

$black: black; 
$white: white; 
$lightgrey: lightgrey; 
$grey: grey; 

// Font Variables 

$sans-serif: sans-serif; 

// Font Size 

$font-size: 1em; 
 

// Media Queries 


$brk-narrow: 768px;
$brk-wide: 1024px;