/**********************************
body and main sizing
***********************************/

body {
  font-family: $sans-serif; 
  margin: 0;
  background-color: $lightgrey; 
  
   
       @include desktop {
           font-size: $font-size + .2; 
     }
  }