/**********************************
section styling
***********************************/

 main  {                      //------->  @include is a mixin for for media query min-width 768px
 
  a {
      @include tablet {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
    
 }

 h2 {
  @extend %centered; 
  padding: 10% 0;
  font-size: $font-size + .4; 
  margin: 0; 
}
  
  img {
    
    @include tablet {
    width: 100%;
    height: 100%;  
    display: inline-block;
    }
  }
  
    p {
    @include tablet {
    display: inline-block;
    height: 100%; 
    }
  }
  
}


  
  
  
  
  
  .gallery-div {
  height: 100%; 
  vertical-align: top;
 
  @include tablet {
    width: 45%;
    min-height: 10vmin; 
    position: relative; 
    display: inline-block;
    margin: 0 .5% 2%; 
     }
  }
  



main img {
  max-height: 100%;
  max-width: 100%;

}

main p {
  @extend %centered; 
}

.para-title {
  font-weight: bold; 
  
}

h3, footer p  {
  @extend %centered; 
}

footer span {
  font-weight: 200;
}